// Place all the styles related to the Audios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.audio{
  position: relative;
  height: 80vh;
}

.audio-title{
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
}

.audio-table{
  position: absolute;
  // top: 50%;
  // left: 55%;
  // transform: translate(-50%, -50%);
  width: 100%;
  text-align: center; 
}

.new-audio {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: left !important;
}

.field_with_errors{
  background-color: transparent !important;

  label{
    text-align: left !important;
  }
}

thead {
  color: #3500d3 !important;
  font-size: 15px;
}

td {
  padding-top: 20px;

  button {
    background-color: #282828;
    color: #fff;
    padding: 10px;
    border: 1px solid #0C0032;
    border-radius: 5px;
  }
}

.path {
  position: absolute;
  bottom: 0;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #3500d3 !important;
}

#error_explanation {
  border: none !important;
  background-color: #fff !important;
  color: black !important;
}

.a-table {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  height: 370px;
  overflow: scroll;
}
